footer{
    background-color: var(--texto-destaque);
    background-color: var(--white_footer);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 19px;
    position: relative;
    text-align: left;
    width: 100%;
    
    
  }

  .footer{  
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
     
  }

  .footer__container{
    padding-top: 5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 15px;  
    justify-content: space-between; 
    width: 100%;
    padding-top: 30px;
  
  }
  
  
 .footer__logo{
    display: flex;
    margin-left: 7rem; 
     
}

.footer__logo p {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
  }
  .footer__logo a{
    text-decoration: none;
    color: var(--azul-destaque);
  }

  .footer__img{
    transform: translateY(-30%);
  }

  

  .footer__text{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: fit-content; 
    color: #464646; 
    transform: translateX(-100px);
  }

  .footer__forms {
    display: flex;
  
    flex-direction: column;
    transform: translateX(-100px);
    
    
    
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #464646;
  }

  .footer__forms p{
    margin-bottom: 1rem;
  }

  .footer__forms input[type=text],
.footer__forms textarea{
  border: 0;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  width:30rem;
  background-color: #FFFFFF;
}

.footer__forms textarea{
    border-radius: 4px;
    height: 82px;
    padding-top: 10px;
    resize: none;
  }

  .btn__submit {
	background-color: var(--azul-destaque);
 
	border: none;
	color: var(--texto-destaque);
	height: 3.2rem;
	width: 8.13rem;
  cursor: pointer;
  }

  .btn__submit:hover {
	background-color: var(--texto-destaque);
	color: black;
    transition:1.1s ;
  }

 
  .footer__social {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    column-gap: 1.3rem;
}

.footer__social-link {
    background-color: var(--azul-destaque);
    color: #fff;
    font-size: 1.125rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    display:inline-flex;
}

.footer__social-link:hover {
    background-color: rgb(108, 102, 102);

}

.footer__copy {
    display: block;
    color: #464646;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    
}

  /*medias query*/

  @media screen and (max-width: 1024px) {
    .footer__logo{
       
        margin-left: 4rem; 
         
    }

    .footer__logo p {
        
        font-size: 20px;
        
      }
     
    
      .footer__img{
        width: 30px;
        transform: translateY(-0.1rem);
      }

      .footer__text{
       
        
        transform: translateX(-40px);
      }
      .footer__forms {
        
        transform: translateX(-60px);
        
       
      }

      .footer__forms input[type=text],
      .footer__forms textarea{
        
        width:20rem;
       
      }
         
      }

      @media screen and (max-width: 768px) {
       
   
        
        .footer__logo p {
        
            
            transform: translateY(-0.5rem);
            
          }
        
          .footer__img{
            width: 30px;
            transform: translateY(-0.6rem);
            margin-bottom: 13rem;
          }
    
          .footer__text{
           
            
            transform: translateX(-160px);
            margin-top: 90px;
          }
          .footer__forms {
            
            transform: translateX(-60px);
            
           
          }
          .footer__social-link {
            padding: 0.25rem;
            border-radius: 0.25rem;
            font-size: 1rem;
        
        }
    

             
          }

          @media screen and (max-width: 600px) {

           
            .footer__logo p {
        
            
                transform: translateY(-0.2rem);
                
              }
              .footer__img{
                
                transform: translateY(-0.3rem);
                
              }
    
      
            .footer__text{
             
              
              transform: translateX(-130px);
              margin-top: 4.5rem;
              
            }
            .footer__forms {
              
              transform: translateX(-1rem);
              
              
             
            }
      
            .footer__forms input[type=text],
            .footer__forms textarea{
              
              width:13rem;
             
            }
               
            }

            @media screen and (max-width: 412px) {

              .footer{
                width: 412px;
              }
           
              .footer__logo{
                
                transform: translateX(-4rem);
          
              
                 
                  
                }
             
      
              .footer__text{
               
                
                transform: translateX(-12rem);
                margin-top: 4.5rem;
                
              }
              .footer__forms {
                
                transform: translateX(-6rem);
                
                
               
              }
        
              .footer__forms input[type=text],
              .footer__forms textarea{
                
                width:13rem;
               
              }
                 
              }