 main{
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
  display: grid;
  width: 100%;
  
 }
 .main__body{
  width: 100%;
 }

 .products {
  width: 100%;
    grid-area: revert;
    
    display: grid;
    /* gap: 1rem; */
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,14rem),1fr));
    gap: 2rem;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    margin-left: 0.8rem;
    margin-bottom: 1rem;
}


.products__categoria{
 
  display: flex;
  align-items: center;
  justify-content: space-between;
 margin: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #464646;
  font-size: 1rem;
  max-width: 2560px;
}

.products__card{
  
  cursor: pointer; 
  background-color:#fff;
  border: 2px solid rgba(8, 8, 8, 0.479);
  padding: 1rem;
  border-radius:1rem;
  width: 15rem;
  
} 

.products__card:hover{
  transform: scale(1.1);
  transition: 1.1s;
}


.products__categoria--titleright{
  
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  
  
}

.products__categoria--titleleft{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 19px;
color: #2A7AE4;


}

.products__infos{
  display: flex;
  flex-direction: column;
 
}

.products__infos--title{

margin-top: 0.5rem;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

/* Preto/100% */

color: #464646;
}

.products__infos--price{
margin-top: 0.5rem;  
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Preto/100% */

color: #464646;
}

.products__infos--description{
margin-top: 0.5rem;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Azul/100% */

color: #2A7AE4;
}

@media screen and (max-width: 1440px){
  .products {    
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,12rem),1fr));
   
    grid-auto-rows: 20rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
}
.products__card {
  width: 13rem;
}


}

@media screen and (max-width: 1024px){
  .products{
   
    grid-template-columns: repeat(4, min-content);
    display: grid;
    grid-auto-rows: 18rem;
   
   
    padding-bottom: 2rem;
    gap: 1.2rem;
    
  }
  .products__card {
    width: 12rem;
  }
}

@media screen and (max-width: 768px){
  .products{
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
    justify-content: space-around;
    grid-auto-rows: 20rem;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    margin-left:0; 
  
     
  }
  .products__card{
    width: 12rem;
    
   }
   .products__categoria {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    
}


}

@media screen and (max-width: 600px){

  .products{
    grid-template-columns: repeat(2, max-content);
   
    gap: 2rem;
   
}
     
  

  .products__card{
    width: 12rem;
    
    
   }

   .products__categoria--titleleft{
    margin-left: 11rem;
   }
  
}

@media screen and (max-width: 425px){
  main.main__body{
    background-color: #F5F5F5;
   
    display: contents;
  }
  

  .products{
  
    grid-template-columns: repeat(1, max-content);
    grid-auto-rows: 23rem;   
}
.products__card{
  width: 18rem;
  
  
 }
     
  

   .products__categoria{
 
    
    justify-content: space-around;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #464646;
    font-size: 1rem;
    
    
  }

   .products__categoria--titleleft{
    margin-left:-2rem;
   }
   .products__categoria--titleright{
    margin-left:-2rem;
   }
   
  
}

/*
@media screen and (max-width: 1024px){
  .products{
    grid-template-columns: repeat(4, max-content);
    gap: 0.8rem;
     
  }

  .products__card{
   width: 13rem;
   
  }



  .products__categoria--titleleft{
    transform: translate(280px);
  }
  .products__categoria--titleright{
    transform: translate(-330px);
  }
   
}







*/

