 main{
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
  display: grid;
  
 }

.products__categoria{
    display: flex;
    flex-direction: row;
   
    
}
.products{
  display: grid;
  justify-content:center;
  grid-template-columns: repeat(6, max-content);
  gap: 1rem;  
}
.products__card{
  background-color:#fff;
  border: 2px solid rgba(8, 8, 8, 0.479);
  padding: 1.25rem;
  border-radius:1rem;
  width: 14rem;
} 

.products__categoria{
  align-items: center;
  display: flex;
  justify-content:center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #464646;
  font-size: 1rem;
}

.products__categoria--titleright{
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  transform: translate(-600px);
  
}

.products__categoria--titleleft{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 19px;
color: #2A7AE4;
transform: translate(540px);

}

.products__infos{
  display: flex;
  flex-direction: column;
 
}

.products__infos--title{

margin-top: 0.5rem;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

/* Preto/100% */

color: #464646;
}

.products__infos--price{
margin-top: 0.5rem;  
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Preto/100% */

color: #464646;
}

.products__infos--description{
margin-top: 0.5rem;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Azul/100% */

color: #2A7AE4;
}

@media screen and (max-width: 1024px){
  .products{
    grid-template-columns: repeat(4, max-content);
    gap: 0.8rem;
     
  }

  .products__card{
   width: 13rem;
   
  }



  .products__categoria--titleleft{
    transform: translate(280px);
  }
  .products__categoria--titleright{
    transform: translate(-330px);
  }
   
}

@media screen and (max-width: 768px){
  .products{
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
     
  }
  .products__card{
    width: 18rem;
    
   }

  .products__categoria--titleleft{
    transform: translate(160px);
  }
  .products__categoria--titleright{
    transform: translate(-200px);
  }

}

@media screen and (max-width: 600px){

  .products{
    grid-template-columns: repeat(2, max-content);
    gap: 0.8rem;
     
  }

  .products__card{
    width: 15rem;
    
   }

   .products__categoria--titleleft{
    transform: translate(90px);
  }

  .products__categoria--titleright{
    transform: translate(-130px);
  }



}

@media screen and (max-width: 412px){
  .products{
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
     
  }
  .products__card{
    width: 15rem;
    
   }

  .products__categoria--titleleft{
    transform: translate(10px);
  }
  .products__categoria--titleright{
    transform: translate(-2px);
  }


}



