/*--------variables----------------*/
:root{
  --bg-color: #ebebeb;
  --header-height: 3rem;
  --input-placeholder: #d4d4d4;
  --input-bg: #efefef;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --bg-contato: #eaf2fd;
  font-family: "Releway", sans-serif;
}


 